# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# medusa
.medusa/
dist/
build/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# testing
coverage/
playwright-report/
test-results/

# misc
*.tsbuildinfo
